* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Home page */

.homeContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: auto auto auto;
  
}

.jumbotron {
  background-image: url(./assets/images/hero.jpg);
  background-size: cover;
  background-position: top;
  background-color: #7BC0C3;
  background-blend-mode: darken;
  grid-column: 1 / span 3;

}

#aboutlink {
  background-image: url('./assets/images/road.jpg');
  background-size: cover;
  background-color: #003759;
  background-blend-mode: soft-light;
 
}

#worklink {
  background-color: #782500;
  background-image: url('./assets/images/arches.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#contactlink {
  background-image: url('./assets/images/nyc.jpg');
  background-color: #ff715b;
  background-blend-mode: soft-light;
}
