* {
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  padding: 0;
  margin: 0;
  color: #003759
}

body {
  position: relative;
}

#root, .App, body {
  min-height: 100vh;
}

a {
  color: inherit;
}

h2 {
  font-size: 2em;
  padding: 15px;
  width: 50%;
  text-align: center;
  margin: 30px auto;
  border-bottom: solid #003759;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Home page */

.home-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: auto auto auto;
  
}

.jumbotron {
  background-image: url(./assets/images/hero.jpg);
  background-size: cover;
  background-position: top;
  background-color: #7BC0C3;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
  grid-column: 1 / span 3;
}

.hero-banner {
  font-size: 50px;
  margin-left: 10px;
  margin-right: 50%;
  background-color: #F1DBC8;
  
}

.about-link {
  color: #F1DBC8;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.link-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutlink {
  position: relative;
  background-image: url('./assets/images/road.jpg');
  background-size: cover;
  background-color: #003759;
  background-blend-mode: soft-light;
}

#worklink {
  position: relative;
  background-color: #F1DBC8;
  background-image: url('./assets/images/arches.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#contactlink {
  position: relative;
  background-image: url('./assets/images/nyc.jpg');
  background-color: #ff715b;
  background-blend-mode: soft-light;
}

.link-title {
  font-size: 2rem;
  margin: 5px auto;
  text-align: center;
}

/* Header & Nav */

header {
  display: flex;
  justify-content: space-around;
  background-color: #7BC0C3;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
}

header h1 {
  font-size: 2em;
}

.tab-list {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 400px;
}

a {
  text-decoration: none;
}

.tab {
  list-style: none;
}

/* Project Gallery */

.page-body {
  display: block;
}

.project-grid-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: 400px;
  grid-gap: 10px;
}


.project-img {
  width: 100%;
  object-fit: cover;
  height: 75%;
  border-bottom: solid 1px;
  border-color: #003759
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  height: 20em;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #ff715b;

}

.card-container {
  padding: 2px 16px;
}

/* About Section */

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.self-portrait {
  margin: 10px;
  width: 25%;
  min-width: 300px; 
  border: solid black 1px;
}

.about-wrapper p {
  margin: 10px;
  display: inline;
  width: 60%;
}

/* Resume */

.resume-body {
  width: 80%;
  margin: 20px auto 125px;
}

.resume-body li {
  list-style: none;
}

/* Footer */

footer {
  background-color: #7BC0C3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.resume-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
}


h3 {
  font-size: 1.5rem;
  min-width: 30%;
  margin: 10px;
  text-align: center;
  
}

.contact-list {
  display: flex;
  width: 270px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.contact-link {
  margin: 30px;
}

.contact-icon {
  width: 50px;
  margin: 0 10px;
}

/* Media Queries */

@media screen and (max-width:980px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template: repeat(3, 1fr)
  }
}

@media screen and (max-width:640px) {

  .hero-banner {
    font-size: 30px;
  }

  .link-title {
    font-size: 1.25rem;
    ;
  }
  
  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }

  .self-portrait {
    height: 300px;
  }
  
}

.about-wrapper p {
  width: 80%;
}




