* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
}

.page-body {
  min-height: 100vh;
}

/* Home page */

.homeContainer {
  display: grid;
  height: 100vh;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: auto auto auto;
  
}

.jumbotron {
  background-image: url(./assets/images/hero.jpg);
  background-size: cover;
  background-position: top;
  background-color: #7BC0C3;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
  grid-column: 1 / span 3;
}

.hero-banner {
  font-size: 50px;
  margin-left: 10px;
  margin-right: 50%;
  background-color: #F1DBC8;
  
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.link-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutlink {
  position: relative;
  background-image: url('./assets/images/road.jpg');
  background-size: cover;
  background-color: #003759;
  background-blend-mode: soft-light;
}

#worklink {
  position: relative;
  background-color: #F1DBC8;
  background-image: url('./assets/images/arches.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}

#contactlink {
  position: relative;
  background-image: url('./assets/images/nyc.jpg');
  background-color: #ff715b;
  background-blend-mode: soft-light;
}

.link-title {
  font-size: 30px;
}

/* Nav */

nav {
  display: flex;
  flex-direction: row;
  background-color: #003759;
  justify-content: space-around;
  
}

nav a h1{
  font-size: 2.5rem;
}

.tab-list {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

a {
  text-decoration: none;
}

.tab {
  list-style: none;
}

/* Project Gallery */

.project-grid-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: 400px;
  grid-gap: 10px;
}


.project-img {
  width: 100%;
  object-fit: cover;
  height: 75%;
  border-bottom: solid 1px;
  border-color: #003759
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  height: 20em;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #ff715b;

}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}


/* Media Queries */

@media screen and (max-width:980px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template: repeat(3, 1fr)
  }
}

@media screen and (max-width:640px) {
  
  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
}